.metabnbContainer{
    display: grid;
    grid-template-columns: 30% 40%;
    column-gap: 10%;
    align-items: center;
    background-color: #A02279;
    padding: 20px 40px;
    color: white;

}

.metabnbText{
    margin-bottom: 10%;
}
.metabnbText button{
    color: #A02279;
    background-color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

.metabnbContainer img{
    width: 100%;
}